.cell-X, .cell-O{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border: 1px solid black;
    box-sizing: border-box;
}

.cell-O {
    color: red;
}

.cell-X {
    color: blue;
}